.App {
  text-align: center;
  min-height: 100vh;
  
  display: inline-flex;
  flex-direction: column;
  width: 1300px;
  justify-content: space-between;
}

/* Add more styling as needed */

/* Global styles */
body,
html {
  
  
  background-color: #e8eaed;
  display: inline-flex;
  flex-direction: column;
  width: 1300px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}